---
tags: [kontext]
---

# Branding

## Firmenname
{{ branding_name | default("Noch zu ergänzen.") }}

## Farben
{{ branding_farben | default("Noch zu ergänzen.") }}

## Schriftarten
{{ branding_schrift | default("Noch zu ergänzen.") }}

## Logo
{{ branding_logo | default("Noch zu ergänzen.") }}

## Sonstiges
{{ branding_sonstiges | default("Noch zu ergänzen.") }}
