---
typ: creator
titel: <Creator-/Kanalname>
name: <Creator-/Kanalname>
kanal_url: <https://www.youtube.com/@...>
plattform: youtube
tags: [creator]
zuletzt: YYYY-MM-DD
---

# <Creator-/Kanalname>

## Profil
<Wer ist der Creator, worum geht es im Kanal, Themenfokus?>

## Videos
- <[[wiki/resources/videos/<slug>]]>

## Themen
- <Wiederkehrendes Thema>
